.message {
    opacity: 0;
    transition: opacity 0.5s ease; /* Geçiş süresi ve animasyon */
  }
  
  .show {
    opacity: 1; /* Span görünür hale gelir */
  }
  
  .hide {
    opacity: 0; /* Span gizlenir */
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox için */
  input[type="number"] {
    -moz-appearance: textfield; /* Firefox için varsayılan stili kaldır */
  }